# Keywords

A list and count of keywords in programming languages. Based on work originally
compiled by [@leighmcculloch](https://github.com/leighmcculloch) and contributors.

_2022 update (WIP):_ I took the latest versions of several popularity lists and am ensuring the top 10 in all three lists were on this list. There have been some pretty significant changes in the past couple of years, including the addition of some _soft_ or _contextual_ keywords in Python 3 and Java, increasing their keyword counts significantly.

In addition to the above, I migrated CI to GitHub Actions and am worknig to ensure multiple language versions with different keyword sets are represented.

![Languages by keyword](chart.png)

## Why does it matter?

The number of keywords in a programming language _can_ be an indication to it's simplicity/complexity, and that can impact the simplicity/complexity of the solutions that developers produce using it. Complex solutions can be more expensive to maintain and difficult to hire for. However, this is dependent on many factors and keyword count is only one; language idioms also play a massive part.

## Contribute

Don't see a language here? Please open a pull request adding it!

## Keyword List

{{ $alpha := alphabetize . -}}

{{ range $alpha -}}
* [{{ .Name }} ({{.Version}}) ({{ len .Keywords}} keywords)](#{{slug (printf "%s (%s) (%d) keywords" .Name .Version (len .Keywords))}})
{{ end }}
{{ range $alpha -}}
### {{ .Name }} ({{.Version}}) ({{ len .Keywords}} keywords)
{{$chunks := chunk .Keywords 4 -}}

| | | | |
|---|---|---|---|
{{ range $chunks -}}
| {{ range . }} {{ . }} |{{end }}
{{ end }}

#### Sources:

{{ range .Sources -}}
  [{{.}}]({{.}})
{{ end -}}

{{ end }}
